services:
  backend:
    env_file:
      - .env
    build: .
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    restart: always

  db:
    env_file:
      - .env
    image: postgres:18
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgresdata:/var/lib/postgresql

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data/redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgresdata:
  redisdata:
