name: Auto-assign reviewers
on:
  pull_request_target:
    types: [opened, reopened, ready_for_review, synchronize]

permissions:
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            const reviewers = ["Xim777","ojasks"];          // users
            await github.rest.pulls.requestReviewers({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              reviewers,
            });

