name: Base Trigger
on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - 'data/**'
      - 'test/**'
      - 'pyproject.toml'

permissions:
  contents: read

jobs:
  run:
    uses: ./.github/workflows/backend-workflow.yml
    with:
      pr_repo: ${{ github.repository }}
      pr_ref:  ${{ github.ref_name }}
